parameters:
    level: 0
    paths:
        - app
    excludePaths:
        - app/Console/Commands
        - app/Providers
    bootstrapFiles:
        - vendor/autoload.php
        - bootstrap/app.php
    ignoreErrors:
        - '#Call to an undefined method#'
        - '#Access to an undefined property#'
        - '#Call to an undefined static method#'
        - '#Class .* not found#'
        - '#Parameter .* has no type specified#'
        - '#Method .* has no return type specified#'
        - '#Property .* type has no value type specified#'
        - '#Class .* uses generic trait .* but does not specify its types#'
